/*.nav-link{*/
/*!*position: fixed;*!*/
/*  top: 0;*/
/*  left: 0;*/
/*  width: 100%;*/
/*!*background-color: #3b125d;*!*/
/*!*background-image: linear-gradient(to right, #2457d7, #3b125d);*!*/
/*!*background: #3b125d;*!*/
/*  background: linear-gradient(to right, #000000, #000000);*/
/*  z-index: 100;*/

/*}*/


#body-row {
  margin-left: 10px;
  margin-right: 0;
}

#sidebar-container {
  min-height: 50vh;
  background-color: #132644;
  padding: 0;
  /* flex: unset; */
}

.sidebar-expanded {
  width: 230px;
}

.sidebar-collapsed {
  /*width: 60px;*/
  width: 100px;
}

/* ----------| Menu item*/
#sidebar-container .list-group a {
  height: 50px;
  color: white;
}

/* ----------| Submenu item*/
#sidebar-container .list-group li.list-group-item {
  background-color: #132644;
}

#sidebar-container .list-group .sidebar-submenu a {
  height: 25px;
  padding-left: 30px;
}

.sidebar-submenu {
  font-size: 0.9rem;
}

/* ----------| Separators */
.sidebar-separator-title {
  background-color: #132644;
  height: 35px;
}

.sidebar-separator {
  background-color: #132644;
  height: 25px;
}

.logo-separator {
  background-color: #132644;
  height: 40px;
}

a.bg-dark {
  background-color: #132644 !important;
}
.main {
  width: 50%;
  margin: 50px auto;
}
.has-search .form-control {
  padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #3b125d;
}
