
<!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark">-->
<!--  <a class="navbar-brand" style="background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20190223/ourmid/pngtree-domineering-black-gold-new-year-party-background-material-gold-windgolden-stream-image_71401.jpg)">-->
<!--    .........................</a>-->
<!--  &lt;!&ndash;  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">&ndash;&gt;-->
<!--  &lt;!&ndash;    <span class="navbar-toggler-icon"></span>&ndash;&gt;-->
<!--  &lt;!&ndash;  </button>&ndash;&gt;-->

<!--  <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--    &lt;!&ndash;    <ul class="navbar-nav mr-auto">&ndash;&gt;-->
<!--    &lt;!&ndash;      <li class="nav-item active">&ndash;&gt;-->
<!--    &lt;!&ndash;        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>&ndash;&gt;-->
<!--    &lt;!&ndash;      </li>&ndash;&gt;-->
<!--    &lt;!&ndash;      <li class="nav-item">&ndash;&gt;-->
<!--    &lt;!&ndash;        <a class="nav-link" href="#">Link</a>&ndash;&gt;-->
<!--    &lt;!&ndash;      </li>&ndash;&gt;-->
<!--    &lt;!&ndash;      <li class="nav-item dropdown">&ndash;&gt;-->
<!--    &lt;!&ndash;        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">&ndash;&gt;-->
<!--    &lt;!&ndash;          Dropdown&ndash;&gt;-->
<!--    &lt;!&ndash;        </a>&ndash;&gt;-->
<!--    &lt;!&ndash;        <div class="dropdown-menu" aria-labelledby="navbarDropdown">&ndash;&gt;-->
<!--    &lt;!&ndash;          <a class="dropdown-item" href="#">Action</a>&ndash;&gt;-->
<!--    &lt;!&ndash;          <a class="dropdown-item" href="#">Another action</a>&ndash;&gt;-->
<!--    &lt;!&ndash;          <div class="dropdown-divider"></div>&ndash;&gt;-->
<!--    &lt;!&ndash;          <a class="dropdown-item" href="#">Something else here</a>&ndash;&gt;-->
<!--    &lt;!&ndash;        </div>&ndash;&gt;-->
<!--    &lt;!&ndash;      </li>&ndash;&gt;-->
<!--    &lt;!&ndash;      <li class="nav-item">&ndash;&gt;-->
<!--    &lt;!&ndash;        <a class="nav-link disabled" href="#">Disabled</a>&ndash;&gt;-->
<!--    &lt;!&ndash;      </li>&ndash;&gt;-->
<!--    &lt;!&ndash;    </ul>&ndash;&gt;-->
<!--    <form class="form-inline my-2 my-lg-0">-->
<!--      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
<!--      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
<!--    </form>-->
<!--  </div>-->
<!--</nav>-->


<div>



<div class="main">
  <div class="form-group has-search">
    <span class="fa fa-search form-control-feedback"></span>
    <input type="text" class="form-control" placeholder="Search">
  </div>
</div>



<div class="container-fluid p-0">
  <!-- Bootstrap row -->
<!--  <div class="row" id="body-row">-->
    <!-- Sidebar -->
    <div id="sidebar-container" class="sidebar-expanded d-none d-md-block"><!-- d-* hiddens the Sidebar in smaller devices. Its itens can be kept on the Navbar 'Menu' -->
      <!-- Bootstrap List Group -->
      <ul class="list-group">
        <!-- Separator with title -->
        <li class="list-group-item sidebar-separator-title text-muted d-flex align-items-center menu-collapsed">
          <small>MAIN MENU</small>
        </li>
        <!-- /END Separator -->
        <!-- Menu with submenu -->
        <a href="#submenu1" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-start align-items-center">
            <span class="fa fa-dashboard fa-fw mr-3"></span>
            <span class="menu-collapsed">Album</span>
            <span class="submenu-icon ml-auto"></span>
          </div>
        </a>
        <!-- Submenu content -->
        <div id='submenu1' class="collapse sidebar-submenu">
          <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
            <span class="menu-collapsed">Bài hát việt</span>
          </a>
          <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
            <span class="menu-collapsed">US-UK</span>
          </a>
          <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
            <span class="menu-collapsed">K-POP</span>
          </a>
        </div>
        <a href="#submenu2" data-toggle="collapse" aria-expanded="false" class="bg-dark list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-start align-items-center">
            <span class="fa fa-user fa-fw mr-3"></span>
            <span class="menu-collapsed">MV</span>
            <span class="submenu-icon ml-auto"></span>
          </div>
        </a>
        <!-- Submenu content -->
        <div id='submenu2' class="collapse sidebar-submenu">
          <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
            <span class="menu-collapsed">Nhạc trữ tình </span>
          </a>
          <a href="#" class="list-group-item list-group-item-action bg-dark text-white">
            <span class="menu-collapsed">Nhạc remix </span>
          </a>
        </div>
        <a href="#" class="bg-dark list-group-item list-group-item-action">
          <div class="d-flex w-100 justify-content-start align-items-center">
            <span class="fa fa-tasks fa-fw mr-3"></span>
            <span class="menu-collapsed">Nghệ sĩ </span>
          </div>
        </a>

      </ul>
    </div>
  </div>
<!--</div>-->


</div>
