<!--<div *ngIf="isLoggedIn; else loggedOut">-->
<!--  Logged in as {{roles}}.-->
<!--</div>-->
<!--<ng-template #loggedOut>-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<h2>Login</h2>
  <div class="container">

<!--    <div>Login</div>-->
  <div class="row col-lg-12" style="width: 900px">
    <form name="form" class="col-md-8 offset-md-6" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-input">
        <i class="fa fa-user fa-2x" aria-hidden="true"></i>
<!--        <label class="col-sm-12 col-form-label">Username</label>-->

        <input type="text" class="form-control" placeholder="Enter username" name="username" [(ngModel)]="form.username" #username="ngModel"
               required />
        <div *ngIf="f.submitted && username.invalid">
          <div *ngIf="username.errors.required"  style="color: red">Username is required</div>
        </div>
      </div>

      <div class="form-input">
        <i class="fa fa-lock fa-2x " aria-hidden="true"></i>

        <!--        <label class="col-sm-12 col-form-label">Password</label>-->
        <input type="password" class="form-control" placeholder="Enter password" name="password" [(ngModel)]="form.password" #password="ngModel"
               required minlength="6" />
        <div *ngIf="f.submitted && password.invalid">
          <div *ngIf="password.errors.required">Password is required</div>
          <div *ngIf="password.errors.minlength"  style="color: red">Password must be at least 6 characters</div>
        </div>
      </div>

<br/>
<br/>
      <div class="form-group row">
        <button class="btn btn-primary" style="margin-left: 100px">LogIn</button>
        <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
          Login failed: {{errorMessage}}
        </div>

        <div  style="margin-left: 70px">
          <a href="signup" class="btn btn-success">Sign Up</a>
        </div>

      </div>

    </form>
<!--    <hr />-->
  </div>
<!--    <div><a href="signup" class="btn btn-success">Sign Up</a></div>-->
  </div>
<!--</ng-template>-->
