<app-welcome-area></app-welcome-area>

<div class="container" style="text-align: center; font-size: 40px;">
</div>
<div class="main-container" style="margin-top: 100px">
  <div class="row section">
    <div class="col-xl-8 col-md-10 mx-auto">
      <div class="card">
        <div class="card-header">
          <h6 class="card-title mb-0" style="text-align: center">Edit User</h6>
        </div>
        <div class="card-body">
          <form [formGroup] = "profileForm"  class="ng-untouched ng-pristine ng-valid"  (ngSubmit)="updateUser()">
            <div class="form-row form-group">
              <label class="col-lg-2 text-md-right col-form-label" for="firstName" >First Name</label>
              <div class="col-lg-9">
                <input class="form-control" id="firstName" type="text" formControlName="firstName">
                <div *ngIf="profileForm.get('firstName').invalid && profileForm.get('firstName').touched" style="color: #ff0000">
                  First Name is required and min length is 1
                </div>
              </div>
            </div>
            <div class="form-row form-group">
              <label class="col-lg-2 text-md-right col-form-label" for="lastName" >Last Name </label>
              <div class="col-lg-9">
                <input class="form-control" id="lastName" type="text" formControlName="lastName">
                <div *ngIf="profileForm.get('lastName').invalid && profileForm.get('lastName').touched" style="color: red">
                  Last Name is required and min length is 1
                </div>
              </div>
            </div>
<!--            <div class="form-row form-group">-->
<!--              <label class="col-lg-3 text-md-right col-form-label" for="birthday">birthday</label>-->
<!--              <div class="col-lg-9">-->
<!--                <input class="form-control" id="birthday" type="text" formControlName="birthday">-->
<!--                <div *ngIf="profileForm.get('birthday').invalid && profileForm.get('birthday').touched" style="color: red">-->
<!--                  Birthday is required and min length is 5-->
<!--                </div>-->
<!--              </div>-->

<!--              <div class="form-row form-group">-->
<!--                <label class="col-lg-3 text-md-right col-form-label" > Image</label>-->
<!--                <div class="col-lg-9">-->
<!--                  &lt;!&ndash;                <div class="custom-file">&ndash;&gt;-->
<!--                  &lt;!&ndash;                  <input class="custom-file-input" id="image" type="file" formControlName="image">&ndash;&gt;-->
<!--                  &lt;!&ndash;                  <label class="custom-file-label" for="image" ></label>&ndash;&gt;-->
<!--                  &lt;!&ndash;                </div>&ndash;&gt;-->
<!--                  <input type="file" (change)="onchangeImage($event)">-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
           <div class="form-row form-group">
              <label class="col-lg-2 text-md-right col-form-label" for="address">Address</label>
              <div class="col-lg-9">
                <input class="form-control" id="address" type="text" formControlName="address">
                <div *ngIf="profileForm.get('address').invalid && profileForm.get('address').touched" style="color: red">
                  Address is required and min length is 2
                </div>
              </div>
            </div>

            <div class="form-row form-group">
              <label class="col-lg-2 text-md-right col-form-label" for="phone">Phone</label>
              <div class="col-lg-9">
                <input class="form-control" id="phone" type="text" formControlName="phone">
                <div *ngIf="profileForm.get('phone').invalid && profileForm.get('phone').touched" style="color: red">
                  Phone is required and min length is 5
                </div>
              </div>
            </div>

            <div class="form-row form-group">
              <label class="col-lg-2 text-md-right col-form-label" for="email">Email</label>
              <div class="col-lg-9">
                <input class="form-control" id="email" type="text" formControlName="email">
                <div *ngIf="profileForm.get('email').invalid && profileForm.get('email').touched" style="color: red">
                  Email is required
                </div>
              </div>
            </div>


            <div class="row">
              <div class="col-lg-3"></div>
              <div class="col-lg-9 btn-inline">
                <button class="btn btn-outline-secondary" type="button">Cancel</button>
                &nbsp;
                <button class="btn btn-outline-success" type="submit" >Update user</button>
              </div>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>

