
<div class="super_container">

  <!-- Header -->

  <header class="header">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="header_content d-flex flex-row align-items-center justify-content-center">

            <!-- Logo -->
            <div class="logo">
              <a href="#" class="d-flex flex-row align-items-end justify-content-start">
                <span class="logo_bars d-flex flex-row align-items-end justify-content-between"><span></span><span></span><span></span><span></span><span></span></span>
                <span class="logo_text">Zing mp3</span>
              </a>
            </div>


              <!--   Main Navigation-->
              <nav class="main_nav" style="margin-left: 50px">
                <ul class="d-flex flex-row align-items-center justify-content-start">
                  <li class="active"><a href="index.html">Trang Chủ </a></li>
                  <li><a href="/add"> New Song</a></li>
                  <!--                <li><a href="#">Mới phát hành </a></li>-->
                  <li><a href="blog.html">Chủ đề </a></li>
                  <li><a href="blog.html">Album  </a></li>
                  <li><a href="contact.html">Nhạc cá nhân </a></li>
                </ul>
              </nav>


            <!-- User area -->
            <div class="log_reg d-flex flex-row align-items-center justify-content-start">
              <ul class="d-flex flex-row align-items-start justify-content-start">
                <li ><a href="#">Login</a></li>
                <li><a href="#">Logout</a></li>
              </ul>

              <!-- Hamburger -->
              <div class="hamburger d-flex flex-column align-items-end justify-content-between"><div></div><div></div><div></div></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

</div>

