<header class="header-area">

  <div class="main-header-area">
    <div class="classy-nav-container light left breakpoint-off">

      <nav class="classy-navbar justify-content-between" id="pocaNav">

        <a class="nav-brand" href="index.html"><img src="../../../assets/img/core-img/logo.png" alt=""></a>

        <div class="classy-navbar-toggler">
          <span class="navbarToggler"><span></span><span></span><span></span></span>
        </div>

        <div class="classy-menu">

          <div class="classycloseIcon">
            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
          </div>

          <div class="classynav">
            <ul id="nav">
              <li class="current-item"><a href="./index.html">Home</a></li>
              <li class="cn-dropdown-item has-down"><a href="#">Pages</a>
                <ul class="dropdown">
                  <li><a href="./index.html">- Home</a></li>
                  <li><a href="./podcast.html">- Podcast</a></li>
                  <li><a href="./single-podcast.html">- Single Podcast</a></li>
                  <li><a href="./about.html">- About Us</a></li>
                  <li><a href="./blog.html">- Blog</a></li>
                  <li><a href="./single-blog.html">- Blog Details</a></li>
                  <li><a href="./contact.html">- Contact</a></li>
                  <li class="has-down"><a href="#">- Dropdown</a>
                    <ul class="dropdown">
                      <li><a href="#">- Dropdown Item</a></li>
                      <li class="has-down"><a href="#">- Dropdown Item</a>
                        <ul class="dropdown">
                          <li><a href="#">- Even Dropdown</a></li>
                          <li><a href="#">- Even Dropdown</a></li>
                          <li><a href="#">- Even Dropdown</a></li>
                          <li><a href="#">- Even Dropdown</a></li>
                        </ul>
                        <span class="dd-trigger"></span></li>
                      <li><a href="#">- Dropdown Item</a></li>
                      <li><a href="#">- Dropdown Item</a></li>
                    </ul>
                    <span class="dd-trigger"></span></li>
                </ul>
                <span class="dd-trigger"></span></li>
              <li><a href="./podcast.html">Podcasts</a></li>
              <li><a href="./about.html">About</a></li>
              <li class="cn-dropdown-item has-down"><a href="#">Blog</a>
                <ul class="dropdown">
                  <li><a href="./blog.html">- Blog</a></li>
                  <li><a href="./single-blog.html">- Blog Details</a></li>
                </ul>
                <span class="dd-trigger"></span></li>
              <li><a href="./contact.html">Contact</a></li>
            </ul>

            <div class="top-search-area">
              <form action="index.html" method="post">
                <input type="search" name="top-search-bar" class="form-control" placeholder="Search and hit enter...">
                <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
              </form>
            </div>
            <div class="top-social-area">
              <a href="#" class="fa fa-facebook" aria-hidden="true"></a>
              <a href="#" class="fa fa-twitter" aria-hidden="true"></a>
              <a href="#" class="fa fa-pinterest" aria-hidden="true"></a>
              <a href="#" class="fa fa-instagram" aria-hidden="true"></a>
              <a href="#" class="fa fa-youtube-play" aria-hidden="true"></a>
            </div>
          </div>

        </div>
      </nav>
    </div>
  </div>
</header>




<!--hien anh +thanh nghe  nhac -->
<!-- ***** Welcome Area Start ***** -->
<section class="welcome-area" >
  <!-- Welcome Slides -->
  <div class="welcome-slides owl-carousel"  >

    <!-- Single Welcome Slide -->
    <div class="welcome-welcome-slide bg-img bg-overlay" >
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-12">
            <!-- Welcome Text -->
            <div class="welcome-text">
              <h2 data-animation="fadeInUp" data-delay="100ms">Subscribe Today</h2>
              <h5 data-animation="fadeInUp" data-delay="300ms">Please schedule a podcast post, to make it visible here.</h5>
              <div class="welcome-btn-group">
                <a href="#" class="btn poca-btn m-2 ml-0 active" data-animation="fadeInUp" data-delay="500ms">Subscribe with iTunes</a>
                <a href="#" class="btn poca-btn btn-2 m-2" data-animation="fadeInUp" data-delay="700ms">Subscribe with RSS</a>
              </div>
            </div>
            <!-- Welcome Music Area -->
            <div class="poca-music-area mt-100 d-flex align-items-center flex-wrap" data-animation="fadeInUp" data-delay="900ms">
              <div class="poca-music-thumbnail">
                <img src="../../../assets/img/bg-img/4.jpg" alt="">
              </div>
              <div class="poca-music-content">
                <span class="music-published-date">December 9, 2018</span>
                <h2>Episode 203 - The Last Blockbuster</h2>
                <div class="music-meta-data">
                  <p>By <a href="#" class="music-author">Admin</a> | <a href="#" class="music-catagory">Tutorials</a> | <a href="#" class="music-duration">00:02:56</a></p>
                </div>
                <!-- Music Player -->
                <div class="poca-music-player">
                  <audio preload="auto" controls>
                    <source src="../../../assets/audio/dummy-audio.mp3">
                  </audio>
                </div>
                <!-- Likes, Share & Download -->
                <div class="likes-share-download d-flex align-items-center justify-content-between">
                  <a href="#"><i class="fa fa-heart" aria-hidden="true"></i> Like (29)</a>
                  <div>
                    <a href="#" class="mr-4"><i class="fa fa-share-alt" aria-hidden="true"></i> Share(04)</a>
                    <a href="#"><i class="fa fa-download" aria-hidden="true"></i> Download (12)</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

<!--    &lt;!&ndash; Single Welcome Slide &ndash;&gt;-->
<!--    <div class="welcome-welcome-slide bg-img bg-overlay" style="background-image: url('../../../assets/img/bg-img/2.jpg');">-->
<!--      <div class="container h-100">-->
<!--        <div class="row h-100 align-items-center">-->
<!--          <div class="col-12">-->
<!--            &lt;!&ndash; Welcome Text &ndash;&gt;-->
<!--            <div class="welcome-text">-->
<!--              <h2 data-animation="fadeInUp" data-delay="100ms">Listen Now</h2>-->
<!--              <h5 data-animation="fadeInUp" data-delay="300ms">Please schedule a podcast post, to make it visible here.</h5>-->
<!--              <div class="welcome-btn-group">-->
<!--                <a href="#" class="btn poca-btn m-2 ml-0 active" data-animation="fadeInUp" data-delay="500ms">Subscribe with iTunes</a>-->
<!--                <a href="#" class="btn poca-btn btn-2 m-2" data-animation="fadeInUp" data-delay="700ms">Subscribe with RSS</a>-->
<!--              </div>-->
<!--            </div>-->
<!--            &lt;!&ndash; Welcome Music Area &ndash;&gt;-->
<!--            <div class="poca-music-area mt-100 d-flex align-items-center flex-wrap" data-animation="fadeInUp" data-delay="900ms">-->
<!--              <div class="poca-music-thumbnail">-->
<!--                <img src="../../../assets/img/bg-img/4.jpg" alt="">-->
<!--              </div>-->
<!--              <div class="poca-music-content">-->
<!--                <span class="music-published-date">December 8, 2018</span>-->
<!--                <h2>Episode 202 - The Last Blockbuster</h2>-->
<!--                <div class="music-meta-data">-->
<!--                  <p>By <a href="#" class="music-author">Admin</a> | <a href="#" class="music-catagory">Tutorials</a> | <a href="#" class="music-duration">00:02:56</a></p>-->
<!--                </div>-->
<!--                &lt;!&ndash; Music Player &ndash;&gt;-->
<!--                <div class="poca-music-player">-->
<!--                  <audio preload="auto" controls>-->
<!--                    <source src="../../../assets/audio/dummy-audio.mp3">-->
<!--                  </audio>-->
<!--                </div>-->
<!--                &lt;!&ndash; Likes, Share & Download &ndash;&gt;-->
<!--                <div class="likes-share-download d-flex align-items-center justify-content-between">-->
<!--                  <a href="#"><i class="fa fa-heart" aria-hidden="true"></i> Like (29)</a>-->
<!--                  <div>-->
<!--                    <a href="#" class="mr-4"><i class="fa fa-share-alt" aria-hidden="true"></i> Share(04)</a>-->
<!--                    <a href="#"><i class="fa fa-download" aria-hidden="true"></i> Download (12)</a>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->

  </div>
</section>
<!-- ***** Welcome Area End ***** -->

