
<div class="main-container" style="margin-top: 100px">
  <div class="row section">
    <div class="col-xl-8 col-md-10 mx-auto">
      <div class="card">
        <div class="card-header">
          <h6 class="card-title mb-0">Add Music</h6>
        </div>
        <div class="card-body">
          <form [formGroup] = "songForm"  class="ng-untouched ng-pristine ng-valid"  (ngSubmit)="onSubmit()">
            <div class="form-row form-group">
              <label class="col-md-4 text-md-right col-form-label" for="name" >Song Name</label>
              <div class="col-md-7">
                <input class="form-control" id="name" type="text" formControlName="name">
              </div>
            </div>
<!--            <div class="form-row form-group">-->
<!--              <label class="col-md-4 text-md-right col-form-label" for="fileMp3">Song File</label>-->
<!--              <div class="col-md-7">-->
<!--                <div class="custom-file">-->
<!--                  <input class="custom-file-input" id="fileMp3" type="file">-->
<!--                  <label class="custom-file-label" for="fileMp3">Choose file</label>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
            <div class="form-row form-group">
              <label class="col-md-4 text-md-right col-form-label" for="singer" >Singer </label>
              <div class="col-md-7">
                <input class="form-control" id="singer" type="text" formControlName="singer">
              </div>
            </div>
            <div class="form-row form-group">
              <label class="col-md-4 text-md-right col-form-label" for="author">Author</label>
              <div class="col-md-7">
                <input class="form-control" id="author" type="text" formControlName="author">
              </div>
            </div>
            <div class="form-row form-group">
              <label class="col-md-4 text-md-right col-form-label" >Song Cover Image</label>
              <div class="col-md-7">
                <!--                <div class="custom-file">-->
                <!--                  <input class="custom-file-input" id="image" type="file" formControlName="image">-->
                <!--                  <label class="custom-file-label" for="image" ></label>-->
                <!--                </div>-->
                <input type="file" (change)="onchangeImage($event)">
              </div>
            </div>
            <div class="form-row form-group">
              <label class="col-md-4 text-md-right col-form-label">Song File</label>
              <div class="col-md-7">
                <!--                <div class="custom-file">-->
                <!--                  <input class="custom-file-input" id="image" type="file" formControlName="image">-->
                <!--                  <label class="custom-file-label" for="image" ></label>-->
                <!--                </div>-->
                <input type="file" (change)="onchangeMusic($event)">
              </div>
            </div>
            <div class="form-row form-group">
              <label class="col-md-4 text-md-right col-form-label">Lyrics Song</label>
              <div class="col-md-7">
                <!--                <div class="custom-file">-->
                <!--                  <input class="custom-file-input" id="image" type="file" formControlName="image">-->
                <!--                  <label class="custom-file-label" for="image" ></label>-->
                <!--                </div>-->
                <ckeditor formControlName="lyrics"></ckeditor>
              </div>
            </div>
<!--            <div class="form-row form-group">-->
<!--              <label class="col-md-4 text-md-right col-form-label" for="style">Style</label>-->
<!--              <div class="col-md-7">-->
<!--                <input class="form-control" id="style" type="text">-->
<!--              </div>-->
<!--              <div>selected item is : {{selectedItem}}</div>-->
<!--              <select ng-model="selectedItem">-->
<!--                <option ng-repeat="item in items" value="{{item.age}}"{{item.name}}</option>-->
<!--              </select>-->
<!--            </div>-->
            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-7 btn-inline">
                <button class="btn btn-outline-secondary" type="button">Cancel</button>

                <button class="btn btn-brand btn-air" type="submit" >Save Song</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
