<app-welcome-area></app-welcome-area>
<!-- Editable table -->
<div>{{value}}</div>
<div class="card">
  <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Editable Song</h3>
  <div class="card-body">
    <div id="table" class="table-editable">
      <span class="table-add float-right mb-3 mr-2"><a routerLink="../add" class="text-success">add new song here</a></span>
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <thead>
        <tr>
          <th class="text-center">Image</th>
          <th class="text-center">Song Name</th>
          <th class="text-center">Singer</th>
          <th class="text-center">Author</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let list of songList">
          <td class="pt-3-half" style="width: 100px; height: 100px;"><img [src]="list.image" alt=""></td>
          <td class="pt-3-half" >{{list.name}}</td>
          <td class="pt-3-half" >{{list.singer}}</td>
          <td class="pt-3-half">{{list.author}}</td>
          <td>
            <span class="table-remove"><button type="button" class="btn btn-danger btn-rounded btn-sm my-0"><a
             [routerLink]="['/update',list.id]">Edit</a></button></span>
            &nbsp;
            <span class="table-remove"><button type="button" class="btn btn-danger btn-rounded btn-sm my-0" (click)="delete(list.id)">
              Delete</button></span>
          </td>
        </tr>
        <!-- This is our clonable table line -->
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- Editable table -->
