

<!--<form style="margin-top: 10px" class="col">-->
<!--  <input type="text" name="search" placeholder="Nhập tên bài hát ca sĩ hoặc mv">-->
<!--</form>-->


<!--<div class="super_container">-->

<div class="song" >
  <div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="assets/home/images/song.jpg"
       data-speed="0.8" style="background-image: url(https://png.pngtree.com/thumb_back/fw800/background/20190223/ourmid/pngtree-domineering-black-gold-new-year-party-background-material-gold-windgolden-stream-image_71401.jpg)">


<!--    '../../../assets/home/images/song.jpg'-->

  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="song_content">

          <!-- Player -->
          <div class="single_player_container">
            <div class="single_player d-flex flex-row align-items-center justify-content-start">
              <div id="jplayer_1" class="jp-jplayer"></div>
              <div id="jp_container_1" class="jp-audio" role="application" aria-label="media player">
                <div class="jp-gui jp-interface d-flex flex-lg-row flex-column align-items-start justify-content-start">

                  <!-- Player Controls -->
                  <div class="player_controls_box d-flex flex-row align-items-start justify-content-start">
                    <div class="order-lg-1 order-2">
                      <div class="player_title">song of the week</div>
                      <div class="jp-controls-holder player_controls ml-auto d-flex flex-row align-items-start justify-content-start">
                        <button class="jp-play player_button" tabindex="0"></button>
                        <button class="jp-stop player_button" tabindex="0"></button>
                      </div>
                    </div>
                    <div class="song_image ml-lg-auto order-lg-2 order-1">
                      <img src="../../../assets/home/images/song_1.jpg" alt="">
                    </div>
                  </div>

                  <!-- Progress Bar -->
                  <div class="player_bars d-flex flex-row align-items-start justify-content-start">
                    <div class="player_progress_box">
                      <div class="jp-current-time" role="timer" aria-label="time">00:00</div>
                      <div class="song_info">
                        <div class="jp-artist" aria-label="title">Michael Smith</div>
                        <div class="jp-title" aria-label="title"></div>
                      </div>
                      <div class="jp-progress">
                        <div class="jp-seek-bar">
                          <div>
                            <div class="jp-play-bar"><span></span></div>
                          </div>
                        </div>
                      </div>
                      <div class="jp-duration ml-auto" role="timer" aria-label="duration">02:33</div>
                    </div>

                    <!-- Volume Controls -->
                    <div class="jp-volume-controls ml-lg-auto">
                      <div class="mute_button">
                        <button class="jp-mute" tabindex="0"></button>
                      </div>
                      <div class="d-flex flex-row align-items-center justify-content-start">
                        <div class="jp-volume-bar">
                          <div>
                            <div class="jp-volume-bar-value"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
<!--                <div class="jp-no-solution">-->
<!--                  <span>Update Required</span>-->
<!--                  To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>-->
<!--                </div>-->
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>


<!-- Tours -->

<div class="tours">
  <div class="container">
    <div class="row row-lg-eq-height">

      <!-- Add -->
      <div class="col-lg-4 order-lg-1 order-2 tours_col">
        <div class="extra d-flex flex-column align-items-center justify-content-between">
          <div class="background_image" style="background-image:url(https://mrc-assets.s3.amazonaws.com/assets/Image/48623-fitandcrop-870x490.jpg)"></div>
          <div class="extra_frame"></div>
          <div class="extra_text">it's awesome</div>
          <div class="extra_title_container">
            <div class="extra_year">2020</div>
            <div class="extra_subtitle">Bản nhạc hit
            </div>
          </div>
<!--          <div class="button extra_button">-->
<!--            <a href="#">get your tickets</a>-->
<!--          </div>-->
        </div>
      </div>

      <!-- Tours Content -->
      <div class="col-lg-8 order-lg-2 order-1">
        <div class="tours_content">
          <div class="section_title"><h1> Âm nhạc kết nối
          </h1></div>
          <div class="tours_list_container">
            <ul class="tours_list">

              <!-- Tour -->
              <li class="d-flex flex-row align-items-start justify-content-start">
                <div class="tour_info">
                  <div class="background_image" style="background-image:url(https://mrc-assets.s3.amazonaws.com/assets/Image/48623-fitandcrop-870x490.jpg)"></div>
                  <div class="tour_date">Sun, 21 Oct 2018</div>
                  <div class="tour_name"><a href="#">The O2</a></div>
                  <div class="tour_location">London, United Kingdom</div>
                </div>
                <div class="button tour_button ml-auto">
                  <a href="#">get your tickets</a>
                </div>
              </li>

              <!-- Tour -->
              <li class="d-flex flex-row align-items-start justify-content-start">
                <div class="tour_info">
                  <div class="tour_date">Mon, 22 Oct 2018</div>
                  <div class="tour_name"><a href="#">The O2</a></div>
                  <div class="tour_location">London, United Kingdom</div>
                </div>
                <div class="button tour_button ml-auto">
                  <a href="#">link ban nhac </a>
                </div>
              </li>

              <!-- Tour -->
              <li class="d-flex flex-row align-items-start justify-content-start">
                <div class="tour_info">
                  <div class="tour_date">Tue, 23 Oct 2018</div>
                  <div class="tour_name"><a href="#">The O2</a></div>
                  <div class="tour_location">London, United Kingdom</div>
                </div>
                <div class="button tour_button ml-auto">
                  <a href="#">link ban nhac </a>
                </div>
              </li>

              <!-- Tour -->
              <li class="d-flex flex-row align-items-start justify-content-start">
                <div class="tour_info">
                  <div class="tour_date">Wed, 24 Oct 2018</div>
                  <div class="tour_name"><a href="#">The O2</a></div>
                  <div class="tour_location">London, United Kingdom</div>
                </div>
                <div class="button tour_button ml-auto"><a href="#">link ban nhac </a></div>
              </li>

            </ul>
          </div>
<!--          <div class="tours_link"><a href="#">See All Tour Dates</a></div>-->
        </div>
      </div>

    </div>
  </div>
</div>

<!--&lt;!&ndash; Featured &ndash;&gt;-->

<!--<div class="featured">-->
<!--  <div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col">-->
<!--        <div class="section_title text-center"><h1>Featured Albums</h1></div>-->
<!--        <div class="featured_list">-->
<!--          <div id="jplayer_2" class="jp-jplayer"></div>-->
<!--          <div id="jp_container_2" class="jp-audio" role="application" aria-label="media player">-->
<!--            <div class="jp-type-playlist">-->
<!--              <div class="jp-playlist">-->
<!--                <ul class="d-flex flex-row align-items-start justify-content-start flex-wrap">-->
<!--                  <li></li>-->
<!--                </ul>-->
<!--              </div>-->
<!--              <div class="jp-no-solution">-->
<!--                <span>Update Required</span>-->
<!--                To play the media you will need to either update your browser to a recent version or update your-->
<!--                <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--</div>-->

<!-- Newsletter -->

<div class="newsletter">
  <div class="container">
    <div class="row">

      <!-- Newsletter Content -->
      <div class="col-xl-6">
        <div class="newsletter_content">
          <div class="section_title"><h1>Subscribe & Follow</h1></div>
          <div class="newsletter_text">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi condimentum, neque ac porttitor scelerisque.</p>
          </div>
        </div>
      </div>

      <!-- Newsletter Form -->
      <div class="col-xl-6 nl_col">
        <div class="newsletter_form_container d-flex flex-column align-items-start justify-content-end">
          <form action="#" class="newsletter_form" id="newsletter_form">
            <div class="d-flex flex-row align-items-start justify-content-between">
              <input type="email" class="newsletter_input" placeholder="Your E-mail" required="required">
              <button class="button newsletter_button"><span>subscribe</span></button>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
