<!--<div id="audioPlayer" class="player-primary">-->
<!--  <div id="progress-container">-->
<!--    <input class="amplitude-song-slider" type="range">-->
<!--    <progress class="audio-progress audio-progress&#45;&#45;played amplitude-song-played-progress" value="0.6443654146985632">-->

<!--    </progress>-->
<!--    <progress class="audio-progress audio-progress&#45;&#45;buffered amplitude-buffered-progress" value="1">-->

<!--    </progress>-->
<!--  </div>-->
<!--  <div class="audio">-->
<!--    <div class="song-image">-->
<!--      <img alt="" data-amplitude-song-info="cover_art_url" src="./assets/images/cover/small/1.jpg">-->
<!--    </div>-->
<!--    <div class="song-info pl-3">-->
<!--      <span class="song-name d-inline-block text-truncate" data-amplitude-song-info="name">I love you mummy</span>-->
<!--      <span class="song-artists d-block text-muted" data-amplitude-song-info="artist">Arebica Luna</span>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="audio-controls">-->
<!--    <div class="audio-controls&#45;&#45;left d-flex mr-auto">-->
<!--      <button class="btn btn-icon-only amplitude-repeat amplitude-repeat-off">-->
<!--        <i class="ion-md-sync"></i>-->
<!--      </button>-->
<!--    </div>-->
<!--    <div class="audio-controls&#45;&#45;main d-flex">-->
<!--    </div>-->
<!--    <div class="audio-controls&#45;&#45;right d-flex ml-auto">-->
<!--      <button class="btn btn-icon-only amplitude-shuffle amplitude-shuffle-off">-->
<!--        <i class="ion-md-shuffle"></i>-->
<!--      </button>-->
<!--    </div>-->
<!--  </div>-->
<!--  <div class="audio-info d-flex align-items-center pr-4">-->
<!--    <span class="mr-4">-->
<!--      <span class="amplitude-current-minutes">00</span>:-->
<!--      <span class="amplitude-current-seconds">18</span> /-->
<!--      <span class="amplitude-duration-minutes">00</span>:-->
<!--      <span class="amplitude-duration-seconds">28</span>-->
<!--    </span>-->
<!--    <div class="audio-volume dropdown">-->
<!--      <button aria-expanded="false" aria-haspopup="true" class="btn btn-icon-only" data-toggle="dropdown">-->
<!--        <i class="ion-md-volume-high"></i>-->
<!--      </button>-->
<!--      <div class="dropdown-menu dropdown-menu-right volume-dropdown-menu" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 5px, 0px);" x-out-of-boundaries="">-->
<!--        <input class="amplitude-volume-slider" type="range" value="100">-->
<!--      </div>-->
<!--    </div>-->
<!--    <app-song-options class="dropleft"><a aria-expanded="false" aria-haspopup="true" class="btn btn-icon-only w-auto h-auto" data-toggle="dropdown">-->
<!--      <i class="la la-ellipsis-v"></i>-->
<!--    </a>-->
<!--      <ul class="dropdown-menu" x-placement="right-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(5px, 0px, 0px);" x-out-of-boundaries="">-->
<!--        <li class="dropdown-item">-->
<!--          <a class="dropdown-link">-->
<!--            <i class="la la-heart-o"></i>-->
<!--            <span>Favorite</span>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li class="dropdown-item">-->
<!--          <a class="dropdown-link">-->
<!--            <i class="la la-plus"></i>-->
<!--            <span>Add to Playlist</span>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li class="dropdown-item">-->
<!--          <a class="dropdown-link" download="" href="./assets/audio/ringtone-1.mp3">-->
<!--            <i class="la la-download"></i>-->
<!--            <span>Download</span>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li class="dropdown-item">-->
<!--          <a class="dropdown-link">-->
<!--            <i class="la la-share-alt"></i>-->
<!--            <span>Share</span>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li class="dropdown-item">-->
<!--          <a class="dropdown-link" href="/song/1/details">-->
<!--            <i class="la la-info-circle">-->
<!--            </i><span>Song Info</span></a>-->
<!--        </li>-->
<!--      </ul>-->
<!--    </app-song-options>-->
<!--    <button class="btn btn-icon-only">-->
<!--      <i class="ion-md-musical-note">-->
<!--      </i>-->
<!--    </button>-->
<!--  </div>-->
<!--</div>-->
